.aboutSection {
	width: 100%;
  	padding: 4rem 2rem;
  	background-color: #fff;
  	color: #333;
}

.contentWrapper {
  	max-width: 1200px;
  	margin: 0 auto;
  	display: grid;
  	gap: 2rem;
}

.heading {
  	font-size: 2rem;
  	color: red;
  	margin-bottom: 1rem;
  	text-align: center;
}

.paragraph {
  	line-height: 1.8;
  	margin-bottom: 1rem;
  	font-size: 1.1rem;
}
