@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body{
	background-color: white;	
	width: 100%;
	font-family: "Poppins", sans-serif;
}

.wrapper {
	max-width: 1600px;
	margin: 0 auto;
}

nav {
        position: fixed;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 20px;
        top: 0;
        background-color: white;
        width: 100%;
        z-index: 1000;
}

nav ul {
        list-style: none;
        display: flex;
	flex-wrap: nowrap;
        justify-content: center;
}

nav li {
        height: 50px;
	white-space: nowrap;
}

@media screen and (max-width: 900px) {
	nav ul {
                display: flex;
                justify-content: flex-end;
        }
}
