import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
}

body{
	background-color: #102533;	
	width: 100%;
	font-family: "Poppins", sans-serif;
}

nav {
        position: fixed;
        top: 0;
        background-color: #102533;
        width: 100%;
        z-index: 1000;
}

nav ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
}

nav li {
        height: 50px;
}


@media screen and (max-width: 768px) {
	nav ul {
                display: flex;
                justify-content: flex-end;
        }
}
