.navbar {
        position: fixed;
	max-width: 1600px;
	margin: 0 auto;
        top: 0;
        background-color: white;
        width: 100%;
        z-index: 1000;
	padding: 0 20px;
}

.navbar ul {
        list-style: none;
        display: flex;
        justify-content: center;
}

.navbar li {
        height: 50px;
}

@media screen and (max-width: 768px) {
	.navbar ul {
                display: flex;
                justify-content: flex-end;
        }
}

.nav-link {
	text-decoration: none;
	height: 100%;
	padding: 0 30px;
	display: flex;
	align-items: center;
	color: #102533;
	background-color: transparent;
}

.nav-link:hover {
	font-weight: bold;
}

.push-right {
	margin-left: auto;
}

.pushLeft {
       	margin-right: auto;
	display: flex;
	align-items: center;
}

.pushRight {
	margin-left: auto;
}

.logo {
  	width: 50px;
  	height: 45px;
  	border-radius: 50%;
  	object-fit: cover;
}

.menu-button {
	display: none;
}

.menu-button svg path {
        fill: chocolate;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	width: 100%;
	background-color: #008080;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(250, 250, 250, 0.3);
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.hide-sidebar {
	display: none;
}

.sidebar li {
	width: 100%;
}

.active-link {
	color: #00764d;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.menu-button {
		display: inline-block;
	}

	.hide-on-mobile {
		display: none;
	}
}
