.nav-link {
	text-decoration: none;
	height: 100%;
	padding: 0 30px;
	display: flex;
	align-items: center;
	color: #102533;
	background-color: transparent;
	white-space: nowrap;
}

.nav-link:hover {
	font-weight: bold;
}

.push-right {
	margin-left: 60px;
}

.menu-button {
	display: none;
}

.menu-button svg path {
        fill: chocolate;
}

.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	color: #111111;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.hide-sidebar {
	display: none;
}

.sidebar li {
	width: 100%;
}

.active-link {
	color: #00764d;
	font-weight: bold;
}

@media screen and (max-width: 900px) {
	.menu-button {
		display: inline-block;
	}

	.hide-on-mobile {
		display: none;
	}
}

.travel-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  cursor: pointer;
  transition: color 0.3s ease;
}

.travel-link:hover {
  color: #ffd700;
}


.travel-dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 6px;
  min-width: 160px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  z-index: 100;
}

.travel-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li .travel-link {
  color: #111;
  padding: 10px 15px;
}

.dropdown-menu li .travel-link:hover {
  background-color: #f0f0f0;
}
