#destinations {
	max-width: 1600px;
	width: 100%;
	padding: 20px 0;
	margin: auto;
}

#destinations h2 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 40px;
	color: red;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	width: 100%;
}

.card {
	width: 93%;
	background: #fff;
      	border-radius: 10px;
	margin: 10px auto;
      	overflow: hidden;
      	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      	transition: transform 0.3s ease;
}

@media (min-width: 1024px) {

	.card-container {
		justify-content: space-between;
	}

	.card {
		width: 30%;
	}
}

@media (min-width: 1024px) and (max-width: 1600px) {
	.card-container {
		padding: 0 20px;
	}
}

@media (min-width: 800px) and (max-width: 1023px) {
	.card-container {
		justify-content: space-between;
                padding: 0 20px;
        }

	.card {
		width: 45%;
	}

	.hide {
		display: none;
	}
}

.card:hover {
	transform: translateY(-5px);
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}


.card-content {
	padding: 20px;
}

.card-content h3 {
      	margin-bottom: 10px;
      	font-size: 1.2rem;
}

.card-content p {
	font-size: 0.95rem;
      	margin-bottom: 10px;
}

.buttonContainer {
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 2rem;
  	text-align: center;
  	flex-basis: 100%;
}

.exploreButton {
  	display: inline-block;
  	padding: 12px 28px;
  	background-color: #d90429;
  	color: #fff;
  	font-size: 1.1rem;
  	font-weight: 600;
  	border-radius: 8px;
  	text-decoration: none;
  	text-transform: uppercase;
 	letter-spacing: 0.5px;
  	box-shadow: 0 4px 10px rgba(220, 38, 38, 0.25);
  	transition: all 0.3s ease;
}

.exploreButton:hover {
  	background-color: #b10320;
  	transform: translateY(-4px);
  	box-shadow: 0 6px 16px rgba(220, 38, 38, 0.35);
}

