#why-container {
	padding: 20px 0px;
	max-width: 1600px;
	width: 100%;
	margin: auto;
}

#why-container h2 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 40px;
}

.icon-box {
	padding: 20px;
}

.icon-box img {
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	margin-bottom: 15px;
}


.icon-grid {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
}

.icon-box {
	padding: 20px;
}

@media (min-width: 1024px) {
	.icon-box {
		width: 30%;
	}
}

@media (min-width: 1024px) and (max-width: 1600px) {
	.icon-grid {
		padding: 0 20px;
	}
}

@media (min-width: 800px) and (max-width: 1023px) {
	.icon-grid {
                padding: 0 20px;
        }

	.icon-box {
		width: 45%;
	}
}

