#why-choose-us-container {
	padding: 20px 0px;
	max-width: 1600px;
	width: 100%;
	margin: auto;
}

#why-choose-us-container h2 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 40px;
}

.icon-box {
	padding: 20px;
}

.icon-box h3 {
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.2rem;
}


.icon-box img {
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	margin-bottom: 15px;
}


.icon-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	width: 100%;
}

.icon-box {
	width: 90%;
	margin: 15px auto;
	padding: 20px;
}

.icon-box p {
	text-align: center;
}

@media (min-width: 1024px) {

	.icon-container {
		justify-content: space-between;
	}

	.icon-box {
		width: 30%;
	}
}

@media (min-width: 1024px) and (max-width: 1600px) {
	.icon-container {
		justify-content: space-between;
		padding: 0 20px;
	}
}

@media (min-width: 800px) and (max-width: 1023px) {
	.icon-container {
		justify-content: space-between;
                padding: 0 20px;
        }

	.icon-box {
		width: 45%;
	}
}

